<section class="mx-auto flex w-full max-w-4xl flex-col gap-6">
  <%= render "users/profile_header", user: @user, book_friendship: @book_friendship %>

  <% if @show_bookshelf %>
    <%= render "users/bookshelf_section",
               user: @user,
               bookshelves: @profile_bookshelves,
               selected_bookshelf: @selected_bookshelf,
               bookshelf_entries: @bookshelf_entries,
               bookshelf_entry_counts: @profile_bookshelf_entry_counts,
               bookshelf_sort: @profile_bookshelf_sort,
               bookshelf_sort_options: @profile_bookshelf_sort_options,
               show_status: @show_profile_bookshelf_status,
               show_move_control: @show_profile_bookshelf_move_control,
               move_target_bookshelves: @profile_bookshelf_move_targets,
               show_create_form: @show_profile_bookshelf_create_form,
               new_bookshelf: @bookshelf,
               managed_bookshelf: @managed_bookshelf,
               bookshelf_order_controls: @profile_bookshelf_order_controls,
               bookshelf_visibility_options: @profile_bookshelf_visibility_options,
               bookshelf_color_options: @profile_bookshelf_color_options,
               read_only_notice: (t("users.library.book_friend_read_only_notice") if current_user != @user) %>
  <% end %>
</section>
