<section class="mx-auto flex w-full max-w-4xl flex-col gap-6">
  <%= render "users/profile_header", user: @user, book_friendship: @book_friendship %>

  <% if @profile_jjaek.present? %>
    <%= render "users/profile_jjaek_form",
               profile_jjaek: @profile_jjaek,
               profile_jjaek_visibility_options: @profile_jjaek_visibility_options %>
  <% end %>

  <% if @show_bookshelf %>
    <%= render "users/bookshelf_section",
               bookshelf_entries: @bookshelf_entries,
               show_status: @show_profile_bookshelf_status %>
  <% end %>

  <% if @show_jjaeks %>
    <%= render "users/jjaeks_section", jjaeks: @jjaeks %>
  <% end %>
</section>
