<section class="mx-auto flex w-full max-w-4xl flex-col gap-6">
  <%= render "users/profile_header", user: @user, book_friendship: @book_friendship %>

  <% if @profile_jjaek.present? %>
    <%= render "users/profile_jjaek_form",
               profile_jjaek: @profile_jjaek,
               profile_jjaek_visibility_options: @profile_jjaek_visibility_options %>
  <% end %>

  <% if @show_bookshelf %>
    <%= render "users/bookshelf_section",
               user: @user,
               bookshelves: @profile_bookshelves,
               selected_bookshelf: @selected_bookshelf,
               bookshelf_entries: @bookshelf_entries,
               bookshelf_entry_counts: @profile_bookshelf_entry_counts,
               show_status: @show_profile_bookshelf_status,
               show_move_control: @show_profile_bookshelf_move_control,
               move_target_bookshelves: @profile_bookshelf_move_targets %>
  <% end %>

  <% if @show_profile_activity %>
    <%= render "users/activity_section", activity_items: @profile_activity_items %>
  <% end %>
</section>
