<% inline_comments_context = local_assigns[:inline_comments_context] %>

<article class="rounded-3xl border border-stone-200 bg-white p-5 shadow-sm">
  <%= render "jjaeks/jjaek_header", jjaek: jjaek %>
  <%= render "jjaeks/jjaek_body", jjaek: jjaek %>
  <%= render "jjaeks/jjaek_actions", jjaek: jjaek %>

  <% if inline_comments_context.present? %>
    <div id="<%= comments_panel_dom_id(jjaek, context: inline_comments_context) %>"></div>
  <% end %>
</article>
