<section class="mx-auto flex w-full max-w-3xl flex-col gap-6">
  <%= render "jjaeks/jjaek", jjaek: @jjaek %>

  <% if policy(@jjaek).create_requote? %>
    <div>
      <%= link_to t("jjaeks.actions.requote"),
                  new_jjaek_path(quoted_jjaek_id: @jjaek.id),
                  class: "inline-flex rounded-full bg-stone-900 px-4 py-2 text-sm font-medium text-stone-50" %>
    </div>
  <% end %>

  <%= render "comments/comments_panel", jjaek: @jjaek, comments: @comments, comment: @comment %>
</section>
